@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Kalam');

@import "variables";
@import "colours";

footer {
  position: absolute;
  //bottom: 0;
  background-color: $grey-darkest;
  color: $grey;
  width: 100%;
  display: block;
  padding-top: 50px;

  .navbar {
    margin-top: 50px;
  }
}

h1, h2, h3, h4, h5 {
  font-family: $feature-font, sans-serif;
}

.navbar-brand img {
  height: 70px;
}

.nav-item {
  padding: 5px 15px;
  font-family: $feature-font, sans-serif;
}

.burger {
  @media screen and (min-width: $break-small) {
    display: none;
  }
}

.bg-box {
  padding: 80px 50px;
  background-size: cover;
  text-align: center;
  color: white;

  &.recruiter {
    background-color: rgba(0, 0, 255, 0.7);
  }

  &.recruiter::after {
    content: "";
    background-image: url(../images/employer-bg.jpg);
    background-size: cover;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }


  &.candidate {
    background-color: rgba(255, 0,0, 0.7);
  }

  &.candidate::after {
    content: "";
    background-image: url(../images/candidate-bg.jpg);
    background-size: cover;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
}

.main-content {
  padding-top: 30px;

  @media screen and (max-width: $break-small) {
    padding-top: 20px;
  }
}

.filter-box {
  .card {
    border-radius: 0;

    .card-header {
      border-color: white;
      color: $grey-darker;

      font-size: 14px;
      i {
        margin-right: 5px;
      }
    }

    .list-group-item {
      border-color: white;
      padding-bottom: 0;
      font-size: 80%;
      color: $grey-dark;
      cursor: pointer;

      &.active {
        background-color: transparent;
        color: $grey-darkest;
      }
    }
  }
}

.breadcrumb {
  background-color: transparent;
}

.jobs-box {
  h3 {
    margin-left: 20px;
  }

  p.no-jobs {
    margin-left: 20px;
  }
  .card {
    border-color: white;
  }
}

.icon-box {
  background-color: $blue;
  padding: 5px 15px;
  color: white;
  border-radius: $border-radius;
  margin-right: 15px;
  float: left;
  font-size: 30px;
}

.title {
  font-size: 25px;
  color: $grey-darker;
  text-transform: uppercase;
  font-family: $feature-font, sans-serif;
}

.full-width-image {
  background-image: url(../images/hero-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  border: 0px solid $grey-light;
  border-bottom-color: $grey-lighter;
  border-bottom-width: 5px;
  border-top-width: 3px;

  @media screen and (max-width: $break-small) {
    height: 100px;

    .content-bottom  {
      display: none;
    }
  }

  position: relative;

  .content-bottom {
    position: absolute;
    bottom: 0;

    .text {
      padding: 80px 50px;
      text-align: center;
      color: $green-lightest;
    }
  }
}

.login-box {
  background-color: $blue;
  font-size: 12px;
  color: $blue-lightest;
  padding: 4px 15px;
  border-radius: $border-radius;
  padding-right: 4px;
  margin-left: 20px;

  a {
    color: $blue-lightest;
    text-decoration: none;
    position: relative;
    top: 1px;

    span {
      display: none;
    }

  }

  .btn {
    font-size: 10px;
    margin-left: 15px;
  }

  i {
    position: relative;
    top: 1px;
    // font-size: 12px;
  }
}

.subtitle {
  font-size: 14px;
  color: $grey-dark;
  font-family: $feature-font, sans-serif;
  font-weight : 100;
}

h3.featured {
  font-family: 'Kalam', sans-serif;
}